<footer class="footer">
    <div class="container">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/kevalbhatt" data-style="mega" data-count-href="/kevalbhatt/followers" data-count-api="/users/kevalbhatt#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @kevalbhatt on GitHub">Follow @kevalbhatt</a>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/kevalbhatt/mean-js" data-icon="octicon-star" data-style="mega" data-count-href="/kevalbhatt/mean-js/stargazers" data-count-api="/repos/kevalbhatt/mean-js#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star kevalbhatt/mean-js on GitHub">Star</a>
    </div>
</footer>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
